# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.docker

# VS Code
.vscode/

# Environment variables
.env
.env.*
